`any doubt in previous session!`

    standard output file  
    
        stdout
        stderror
        stdin

    int x,y,z;

    x = 10;
    y = 20;
    r = x+y;

    printf("%d + %d = %d", (x, y, r));

## String Formating

    template

In [3]:
x, y = 10, 20
r = x + y

print("%d + %d = %d"%(x, y, r))
print("{} + {} = {}".format(x, y, r))
# python version >= 3.6, f-string
print(f"{x} + {y} = {r}")

10 + 20 = 30
10 + 20 = 30
10 + 20 = 30

In [9]:
x = 15
print(f"Decimal = {x}, Binary = {x:b}, Hexadecimal = {x:x}")

Decimal = 15, Binary = 1111, Hexadecimal = f

In [7]:
x, y = 22, 7
r = x / y

print("%d / %d = %.2f"%(x, y, r))
print("{} / {} = {:.2f}".format(x, y, r))
# python version >= 3.6, f-string
print(f"{x} / {y} = {r:.2f}")

22 / 7 = 3.14
22 / 7 = 3.14
22 / 7 = 3.14

    array

In [10]:
name = "raman"
section = "CS-A"
marks = 56.45

# 100 ?

### List Data Type

    Collection of items or Collection of objects
    
    Sequential Ordered Data Type
    
    Mutable Data Type
    
    Homognous (array) or Hetrogenous

In [11]:
names = [ "ravi", "bhushan", "sachin", "rajat", "yadvendra", "shivani", "nidhi", "simran"]

In [12]:
print(type(names))

<class 'list'>

In [15]:
print("Methods of list in Python")
print(*[f for f in dir(names) if f[0].islower()], sep=', ')

Methods of list in Python
append, clear, copy, count, extend, index, insert, pop, remove, reverse, sort

In [17]:
s = input("Enter a string: ")
n = len(s)
print(f"There are total {n} characters in \"{s}\"")

Enter a string: this is easy, let's move forward
There are total 32 characters in "this is easy, let's move forward"

In [20]:
print(names)
n = len(names)
print(n)
print(f"index will range from 0 to {n-1}")

['ravi', 'bhushan', 'sachin', 'rajat', 'yadvendra', 'shivani', 'nidhi', 'simran']
8
index will range from 0 to 7

In [21]:
print(names)

['ravi', 'bhushan', 'sachin', 'rajat', 'yadvendra', 'shivani', 'nidhi', 'simran']

In [28]:
print(names[2:])

['sachin', 'rajat', 'yadvendra', 'shivani', 'nidhi', 'simran']

In [30]:
print(names[:-2])

['ravi', 'bhushan', 'sachin', 'rajat', 'yadvendra', 'shivani']

In [27]:
item = names[2:-1]
print(item)

['sachin', 'rajat', 'yadvendra', 'shivani', 'nidhi']

In [26]:
item = names[::-2]
print(item)

['simran', 'shivani', 'rajat', 'bhushan']

In [25]:
item = names[-3:]
print(item)

['shivani', 'nidhi', 'simran']

In [24]:
item = names[:3]
print(item) # list / string / tuple ? 
# new list -> sublist

['ravi', 'bhushan', 'sachin']

In [23]:
item = names[-5]
print(item)# ?

rajat

In [22]:
item = names[3]
print(item)# ?

rajat

### mutability vs immutability

In [31]:
s = "hello world!"

In [33]:
s[4] = 'I' # strings are immutable
print(s)

TypeError: 'str' object does not support item assignment

In [32]:
c  = s[4]
print(c)

o

In [34]:
lang = ["c", "jav", "python", "ruby", "perl", "go", "swift", "kotlin"]

In [36]:
# replacement in list
lang[1] = "JAVA" # list is mutable
item = lang[1]
print(item)

JAVA

In [37]:
print(lang)

['c', 'JAVA', 'python', 'ruby', 'perl', 'go', 'swift', 'kotlin']

In [38]:
lang[0] = "C++"
print(lang)

['C++', 'JAVA', 'python', 'ruby', 'perl', 'go', 'swift', 'kotlin']

### List Methods


    methods to add item in a list
    
        list.append(item) -> it will add item at the end of list
        
        list.insert(loc, item) -> it will add item at index loc in list
        
        list.extend(iterable) -> it will iterate each value from iterable and add it at the end of list sequentially

    what is the return of a function 
    
    
    kuch bhi nh = None

Output:

    hi
    return value from print is  None

In [56]:
name = input("Enter your name: ")

print(f"Hey! {name} you such an amzing person.")

Enter your name: sachin
Hey! sachin you such an amzing person.

In [54]:
input('kuch input de de ? ')
# "hello world!"
print('can i access what i have given input ? ')

kuch input de de ? hello world!
can i access what i have given input ?

In [52]:
print('hi')
print('bye')
print('ye')
print('vo')
x = print('ese kiu nh')

hi
bye
ye
vo
ese kiu nh

In [51]:
x = print("hi")

print("return value from print is ", x) # ?

hi
return value from print is  None

In [39]:
lang = ["c", "go"]

In [40]:
lang.append("python")

In [41]:
print(lang)

['c', 'go', 'python']

In [42]:
lang.append("scala")

In [43]:
print(lang)

['c', 'go', 'python', 'scala']

In [44]:
lang.insert(1, "c++")

In [45]:
print(lang)

['c', 'c++', 'go', 'python', 'scala']

In [46]:
lang.insert(2, "Java")#[ ..., 'c++', 'go', 'java', 'python' ... ]

In [47]:
print(lang)

['c', 'c++', 'Java', 'go', 'python', 'scala']

In [48]:
web_lang = ["html", "css", "js", "angular js", "node js", "react js", "type script"]

In [49]:
lang.extend(web_lang)

In [50]:
print(lang)

['c', 'c++', 'Java', 'go', 'python', 'scala', 'html', 'css', 'js', 'angular js', 'node js', 'react js', 'type script']

In [57]:
a = [ 'hi', 'hello', 'bye']

v = a[10] # Exceptions 
print(v) # ? IndexError

IndexError: list index out of range

In [58]:
e = []

e.pop()

IndexError: pop from empty list

    Notation -> Maths

### Methods to remove item from a list

    item = list.pop() -> delete and returnlast element from a list (default)
    
    item = list.pop(loc) -> delete and return element at index loc from list
    
    list.remove(item) -> search and delete first occurence of item from list

In [61]:
lang = [ 'c', 'c++', 'python', 'scala', 'java', 'ruby', 'perl']

In [62]:
item = lang.pop()
print(item)

perl

In [63]:
print(lang)

['c', 'c++', 'python', 'scala', 'java', 'ruby']

In [64]:
item = lang.pop(-2)
print(item) # ?

java

In [65]:
print(lang)

['c', 'c++', 'python', 'scala', 'ruby']

In [66]:
lang.insert(0, 'python')
lang.extend(['java', 'php', 'python'])

In [67]:
print(lang)

['python', 'c', 'c++', 'python', 'scala', 'ruby', 'java', 'php', 'python']

In [68]:
item = lang.remove("python")
print(item) # None

print(lang) # ['c', 'c++', 'python', 'scala', 'ruby', 'java', 'php', 'python']

None
['c', 'c++', 'python', 'scala', 'ruby', 'java', 'php', 'python']

In [69]:
lang.remove('python')

In [70]:
print(lang)

['c', 'c++', 'scala', 'ruby', 'java', 'php', 'python']

#### comman methods

    list.sort() -> it will arrange items in ascending order bydefault
    list.sort(reverse=True) -> it will arrange item in descending order 
    
    note: list should be homogenous
    
    list.reverse() -> it is inplace operation equal to list[::-1]
    
    count = list.count(item) -> return frequency of item in list
    
    list.clear() -> it will delete all items from a list
    
    i = list.index(item) -> it will return index of item, (first index) 
    
    new_copy = list.copy() -> it returns a shallow copy of list

In [71]:
x = [ 1, 'hi', 6.4, 'hello', ['a', 'b', 'c'], 0]
print(x)

[1, 'hi', 6.4, 'hello', ['a', 'b', 'c'], 0]

In [72]:
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [73]:
names = ['ravi', 'bharat', 'yadvendra', 'ashish', 'sachin', 'rajat', 'nidhi', 'shivani', 'gaurav']

In [74]:
print(names)

['ravi', 'bharat', 'yadvendra', 'ashish', 'sachin', 'rajat', 'nidhi', 'shivani', 'gaurav']

In [75]:
names.sort()

In [76]:
print(names)

['ashish', 'bharat', 'gaurav', 'nidhi', 'rajat', 'ravi', 'sachin', 'shivani', 'yadvendra']

In [77]:
nums = [ 4, 6, 8, 3, 8, 1, 23]

In [78]:
nums.sort(reverse=True) # mutable, inplace

In [79]:
print(nums)

[23, 8, 8, 6, 4, 3, 1]

In [80]:
nums = [ 4, 6, 8, 3, 8, 1, 23]

new = sorted(nums) # immutable

In [81]:
print(nums)

[4, 6, 8, 3, 8, 1, 23]

In [82]:
print(new)

[1, 3, 4, 6, 8, 8, 23]

In [83]:
data = [ 'one', 'two', 'three']

In [84]:
data.reverse()

In [85]:
print(data)

['three', 'two', 'one']

In [86]:
import random

In [90]:
items = [ random.randint(1, 5) for _ in range(10)]

In [91]:
print(items)

[2, 1, 1, 1, 5, 1, 3, 5, 3, 5]

In [93]:
k = 5
c = items.count(k)

print(f"{c} times {k} is there in list")

3 times 5 is there in list

In [94]:
nums

[4, 6, 8, 3, 8, 1, 23]

In [95]:
nums.clear()

In [96]:
print(nums)

[]

In [97]:
print(names)

['ashish', 'bharat', 'gaurav', 'nidhi', 'rajat', 'ravi', 'sachin', 'shivani', 'yadvendra']

In [98]:
i = names.index('rajat')

In [99]:
print(i)

4

In [100]:
x = 5
y = x

print(x is y)

True

In [101]:
print(id(x), id(y))

140726144411568 140726144411568

In [102]:
print(x)

5

In [103]:
data = [ 'sachin', 'rajat', 'nidhi', 'yadvendra', 'ravi']

In [104]:
old_data = data
# it is not a copy operation in python

In [105]:
data.remove('yadvendra')

In [106]:
print(data)

['sachin', 'rajat', 'nidhi', 'ravi']

In [107]:
print(old_data) # ?

['sachin', 'rajat', 'nidhi', 'ravi']

In [109]:
data = [ 'sachin', 'rajat', 'nidhi', 'yadvendra', 'ravi']
old_data = data.copy()

In [110]:
data.remove('yadvendra')

In [111]:
print(data)

['sachin', 'rajat', 'nidhi', 'ravi']

In [112]:
print(old_data)

['sachin', 'rajat', 'nidhi', 'yadvendra', 'ravi']

In [113]:
print(data is old_data)

False

#### tuple

    immutable list

In [114]:
t = (1, 2, 3, 4)

In [115]:
print(type(t))

<class 'tuple'>

In [116]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

#### why do we need to copy an object in python ? 

#### diffrence shallow copy and deep copy in python ?