#### Recursion

    data 
        solution -> user -> data puch kar -> excel store kar le

In [2]:
import sys

In [3]:
sys.getrecursionlimit()

3000

In [1]:
def func(n):
    if n == 0:
        return 1
    return n-1+func(n-1)+n+1

In [4]:
n = 5
ans = func(n)
print(f"Answer: {ans}")

Answer: 31

#### Anonymous Functions

    Lambda Functions
    
    Inline line function

#### syntax

    func = lambda (arg1, arg2, ...): statement

In [7]:
def hello():
    print("Hello World!")
    
hello()

Hello World!

In [8]:
hi = lambda : print("Hello world!")

In [9]:
hi()

Hello world!

In [10]:
print(hello)
print(hi)

<function hello at 0x0000022B4260DF70>
<function <lambda> at 0x0000022B4260DE50>

In [13]:
def hi():
    print('hi')

In [14]:
h = hi()

hi

In [15]:
print(h)

None

In [16]:
def hi():
    return 'hi'

In [17]:
h = hi()

In [18]:
print(h)

hi

In [11]:
def welcome(user):
    return f"Hello {user.strip().title()}! Welcome to Python"

In [12]:
a = welcome("    sACHin YaDAv      ")
print(a)

Hello Sachin Yadav! Welcome to Python

In [19]:
wc = lambda user: f"Hello {user.strip().title()}! Welcome to Python"

In [20]:
a = wc('   raJAT  goYAL   ')
print(a)

Hello Rajat  Goyal! Welcome to Python

In [21]:
def sq_add(x, y):
    return x**2+y**2

In [22]:
r = sq_add(3, 4)
print(r)

25

In [23]:
ad = lambda x, y: x**2+y**2

In [24]:
r = ad(3, 4)
print(r)

25

In [34]:
sum([ v**2 for v in [1, 2, 3, 4]])

30

In [36]:
sa = lambda *items: sum([i**2 for i in items])
sa(1, 2, 3)

14

In [29]:
def sq_add(*items):
    s = 0
    for item in items:
        s += item**2
    return s

In [31]:
r1 = sq_add(4, 5, 6, 7, 8, 9, 10)
print(r1)

371

In [37]:
a = sa(4, 5, 6, 7, 8, 9, 10)
print(a)

371

In [30]:
r = sq_add(1, 2, 3)
print(r)

14

In [38]:
[ int(input()) for var in range(10)] # list compreshension

ValueError: invalid literal for int() with base 10: ''

In [39]:
def even_odd(num):
    if num % 2 == 0:
        return 'Even'
    return 'Odd'

In [40]:
even_odd(5)

'Odd'

In [41]:
even_odd(10)

'Even'

In [42]:
e = lambda num: "Even" if num % 2 == 0 else "Odd"

In [43]:
e(10)

'Even'

In [44]:
e(11)

'Odd'

In [45]:
print('hi')

hi

In [51]:
max([1, 2, 3, 4])

4

In [53]:
min([1, 2, 42323, 23,2, 32,3, 2,3 ])

1

In [59]:
g = lambda *args: max(args)

In [60]:
g(1, 4, 23)

23

In [54]:
def greatest(*nums):
    return max(nums)

In [58]:
greatest(1, 12, 3, 10)

12

In [48]:
def greatest(a, b, c):
    if a > b and a > c:
        return a
    elif b > c:
        return b
    else:
        return c

In [50]:
greatest(1, 12, 3)

12

In [61]:
# nested if-else
gr = lambda a, b, c: a if (a>b and a>c) else (b if b > c else c)

In [62]:
gr(10, 40, 30)

40

#### write prime code in one line ?

In [63]:
import math

In [64]:
def is_prime(num, check=2):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % check == 0:
        return False
    if check >= math.sqrt(num)+1:
        return True
    return is_prime(num, check+1)

In [68]:
is_prime(127)

True

##### write above code in one line

#### Map Function

    syntax
    
        map_object = map(function, seq1, ...)
        
        single usable iterable object

    it is used to map a function to each value of a sequence 
    
    it returns a lazy iterable object

In [72]:
raw = [ "1", "2", "3", "4", "5"]
data = []
for item in raw:
    # item = "5"
    item = int(item)# 5
    data.append(item)# [1, 2, 3, 4, 5]
else:
    print(data)

[1, 2, 3, 4, 5]

In [73]:
raw = [ "1", "2", "3", "4", "5"]

m = map(int, raw)

In [74]:
print(m)

<map object at 0x0000022B42A153A0>

In [75]:
print(*m)

1 2 3 4 5

In [76]:
print(*m)

In [77]:
raw = [ "1", "2", "3", "4", "5"]
data = list(map(int, raw))
print(data)

[1, 2, 3, 4, 5]

In [78]:
nums = input()

34 56 23 78 20

In [80]:
print(repr(nums))

'34 56 23 78 20'

In [82]:
input().split()

15 20 35 24

['15', '20', '35', '24']

In [83]:
v = list(map(int, input().split()))
print(v)

15 60 30 40 50
[15, 60, 30, 40, 50]

In [84]:
n1 = [1, 2, 3, 4]
n2 = [3, 2, 4, 1]

In [88]:
r = list(map(lambda x,y:x**2+y**2, n1, n2))
print(r)

[10, 8, 25, 17]

In [86]:
r = [ i1**2+i2**2 for i1,i2 in zip(n1, n2) ]
print(r)

[10, 8, 25, 17]

In [90]:
data = [
    ["sachin", 40, 50, 60],
    ["rajat", 45, 67, 78],
    ["simran", 40, 80, 60]
]

In [92]:
result = list(map(lambda item: [item[0], round(sum(item[1:])/3,2)], data ))

In [93]:
print(result)

[['sachin', 50.0], ['rajat', 63.33], ['simran', 60.0]]

`Filter` Function

    syntax
    
        fo = filter(function, seq)

In [94]:
from random import randint

In [95]:
nums = [randint(10, 50) for _ in range(10)]

In [96]:
nums

[11, 44, 15, 35, 10, 12, 28, 42, 15, 37]

In [107]:
a = list(filter(lambda num: num%2==0, nums))

In [108]:
print(a)

[44, 10, 12, 28, 42]

In [98]:
r = []
for item in nums:
    if item % 2 == 0:
        r.append(item)
print(r)

[44, 10, 12, 28, 42]

#### File Handling and Data Serialization
#### OOPs
#### Exception handling
#### Remaining Python Topic
#### Flask and DataBase