In [1]:
i = 1
while i < 100:
    print(f"i = {i}")
    i *= 2

i = 1
i = 2
i = 4
i = 8
i = 16
i = 32
i = 64

In [9]:
print("hello", "world!", sep="\t", end=" ") #"hello\tworld! "
print("awesome!")# "awesome\n"

hello	world! awesome!

In [5]:
print(1, 2, 3, sep='\n') # s ="1\n2\n3\n"

1
2
3

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
s = "olleh"
while s:
    print(s[-1])
    s = s[:-1]

h
e
l
l
o

In [11]:
s = "olleh"
while s:
    print(s[-1], end=" ")
    s = s[:-1]

h e l l o

In [13]:
s = "olleh"
while s:
    print(s[-1])
    s = s[:-1]

h
e
l
l
o

In [14]:
print(repr(s))

''

### Traversing

In [15]:
names = ["bharat", "yadavendra", "ravi", "simran", "shivani", "nidhi"]
#           0           1           2        3         4          5

In [16]:
print(names)
print(len(names))

['bharat', 'yadavendra', 'ravi', 'simran', 'shivani', 'nidhi']
6

In [20]:
names = ["bharat", "yadavendra", "ravi", "simran", "shivani", "nidhi"]
#           0           1           2        3         4          5
i = 0
while i < len(names):
    print(i, names[i])
    i += 1

0 bharat
1 yadavendra
2 ravi
3 simran
4 shivani
5 nidhi

In [21]:
i = 0
while i < len(names):
    print(names[i].upper())
    i += 1

BHARAT
YADAVENDRA
RAVI
SIMRAN
SHIVANI
NIDHI

In [22]:
i = len(names)-1
while i >= 0:
    print(names[i].upper())
    i -= 1

NIDHI
SHIVANI
SIMRAN
RAVI
YADAVENDRA
BHARAT

In [24]:
c = 1
while c <= 10:
    print(c)
    if c == 5:
        break
    c += 1

1
2
3
4
5

In [25]:
c = 1
while c <= 10:
    if c == 5:
        print(c)
    break
    c += 1

In [26]:
c = 1
while c <= 10:
    if c == 5:
        break
    print(c)
    c += 1

1
2
3
4

In [ ]:
inc_temp = 2
dec_temp = 1
init = 'on'
in_use = True
temp = 10
count = 1
while (init == 'on'):
    if temp >= 100:
        break
    if in_use:
        temp += 2
        in_use = False
    else:
        temp -= 1
        in_use = True
    count += 1
    
print(count)

`continue statement`

In [28]:
c = 1 # ESC+II , ctrl+c  -> Keyboard Interrupt
while c <= 5:
    #print(c)
    if c % 2 == 0:
        continue
    c += 1

KeyboardInterrupt:

In [29]:
c = 1
while c <= 10:
    c += 1
    if c % 5 == 0:
        continue
    print(c, end=", ")

2, 3, 4, 6, 7, 8, 9, 11,

In [31]:
c = 0
while c <= 10:
    c += 1
    if c % 2:
        continue
    if c % 5 == 0:
        break
    print(c)

2
4
6
8

`else executes only if condition if False`

In [32]:
ch = 'yes'
while ch == 'yes':
    print("Hello World!")
    ch = input("do you want to continue ?")
else:
    print("wait a minute! what ?")

Hello World!
do you want to continue ?yes
Hello World!
do you want to continue ?yes
Hello World!
do you want to continue ?yes
Hello World!
do you want to continue ?no
wait a minute! what ?

In [33]:
sum_ = 0
i = 1
while i <= 5:
    sum_ = sum_ + i
    i = i + 1
else:
    print(f"Summation is {sum_}")

Summation is 15

In [36]:
i = 1
while i <= 10:
    i+= 1
    if i % 2 == 0:
        continue
    print(i)
else:
    print("!it will not run if we break the loop!")

3
5
7
9
11
!it will not run if we break the loop!

In [34]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1
else:
    print("!it will not run if we break the loop!")

1
2
3
4

In [41]:
num = int(input("Number: "))
if num <= 1:
    print(f"{num} is not prime")
elif num in [2, 3]:
     print(f"{num} is prime")
elif num % 2 == 0:
     print(f"{num} is not prime")
else:
    c = 3
    while c<num//2:
        if num%c==0:
             print(f"{num} is not prime")
             break
        c += 2
    else:
         print(f"{num} is prime")

Number: 23
23 is prime

### For Loop

    Iteration of colleciton type objects

syntax

    for item in iterable:
        st-1
        st-2
        ...
        st-n

iterables
    
    string, list, tuple
    set, dictionary, frozenset
    
non-iterables

    int, float, complex
    True, False
    None

In [43]:
for d in 12345:
    print(d)

TypeError: 'int' object is not iterable

In [42]:
s = "Hello"
for char in s:
    print(char)

H
e
l
l
o

In [45]:
for d in "12345":
    print(d, end=' ')

1 2 3 4 5

In [48]:
lang = ["python", "c", "java", "c++", "go", "rust", "ruby", "perl"]

    :>20 -> format string in 20 space by shifting data right justify
    
    > right justification
    < left justification
    ^ center justification

In [56]:
for item in lang:
    print(f"\"{item:>10}\" is awesome!")

"    python" is awesome!
"         c" is awesome!
"      java" is awesome!
"       c++" is awesome!
"        go" is awesome!
"      rust" is awesome!
"      ruby" is awesome!
"      perl" is awesome!

In [57]:
for item in lang:
    print(f"{item:>10} is awesome!")

    python is awesome!
         c is awesome!
      java is awesome!
       c++ is awesome!
        go is awesome!
      rust is awesome!
      ruby is awesome!
      perl is awesome!

### tuple unpacking

    x, y = (1, 2)
    
    (one, two), (x, y) = [ ('hi', 'bye'), (10, 20) ]

In [69]:
a, b, c = ('sachin', 27, 'india')

In [70]:
print(a)

sachin

In [64]:
(one, two), (x, y) = [ ('hi', 'bye'), (10, 20) ]

In [65]:
print(one)

hi

In [66]:
print(two)

bye

In [67]:
print(x)

10

In [68]:
print(y)

20

In [58]:
data = [
    ["bharat", "1234567890", 56.23],
    ["yadvendra", "1893473923", 78.00],
    ["shivani", "0129834756", 88.00]
]

In [73]:
nm, ph, per = "Name", "Phone Number", "Percentage"
print("_"*54)
print(f"|{nm:^20}|{ph:^20}|{per:^10}|")
print("_"*54)
for (nm, ph, per) in data:
    print(f"|{nm:^20}|{ph:^20}|{per:^10}|")
    print("-"*54)

______________________________________________________
|        Name        |    Phone Number    |Percentage|
______________________________________________________
|       bharat       |     1234567890     |  56.23   |
------------------------------------------------------
|     yadvendra      |     1893473923     |   78.0   |
------------------------------------------------------
|      shivani       |     0129834756     |   88.0   |
------------------------------------------------------

In [63]:
for item in data:
    print(item)
    break

['bharat', '1234567890', 56.23]

In [74]:
d = {'name': 'sachin', 'age': 27, 'city': 'jaipur', 'country': 'india'}

In [75]:
print(d)

{'name': 'sachin', 'age': 27, 'city': 'jaipur', 'country': 'india'}

In [78]:
for key in d:
    print(key,"=", d[key])

name = sachin
age = 27
city = jaipur
country = india

In [79]:
print(d)

{'name': 'sachin', 'age': 27, 'city': 'jaipur', 'country': 'india'}

In [86]:
for (key, value) in d.items():
    print(f"|{key:^20} | {value:^20}|")
    print('-'*45)

|        name         |        sachin       |
---------------------------------------------
|        age          |          27         |
---------------------------------------------
|        city         |        jaipur       |
---------------------------------------------
|      country        |        india        |
---------------------------------------------